 <!DOCTYPE html>
<html>
<head>
	<title>SF Food Trucks: Error</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="header">
		<h1> SF Food Trucks: ERROR </h1>
	</div>
	<div>
        <p> The address you entered did not comply. Here may be some of your reasons</p>
        <ul>
            <li> Address spelled incorectly </li>
            <li> Address not inside of San Francisco </li>
            <li> We're having trouble finding foodtrucks close to you</li>
        </ul>
    </div>
    <div>
         <a href="/"> Back </a>
    </div>
</body>
</html>
