<!DOCTYPE html>
<html>
<head>
	<title>SF Food Trucks</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="header">
		<h1> SF Food Trucks </h1>
	</div>
	<div class="searchBar">
        <label> Where are you now? </label>
        <form action="results" method="GET">
		    <input type="text"  name="userInput_submited" placeholder="Enter Address.." required>
		    <input type="submit" name="search">
        </form>
    </div>
</body>
</html>

